<launch>
  <!-- Arguments for Gazebo -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Launch Gazebo Simulation -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    <arg name="model" value="burger"/>
  </include>

  <!-- Launch Navigation Stack -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
  </include>

  <!-- Launch the Custom Navigation Control Node -->
  <node pkg="turtlebot3_mover" type="turtlebot3_mover" name="turtlebot3_mover" output="screen" />
</launch>